.btn {
  display: inline-flex;
  padding: 12px 24px;

  color: $color-default-white;
  font-weight: 500;

  background-color: $color-accent;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
