.btn {
  display: inline-flex;
  padding: 12px 24px;

  color: $color-default-white;
  font-weight: 500;

  background-color: $color-accent;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover {
    opacity: 0.8;
  }

  @include focus {
    opacity: 0.8;
    outline: 1px solid $color-accent-secondary;
  }
}
