.intro {
  overflow-x: clip;
}

.intro__wrapper {
  display: grid;
  grid-template-columns: 1fr 0.84fr;
  grid-template-rows: auto auto auto auto 1fr;
  padding-left: 9px;
  column-gap: 15px;

  @include vp-1023 {
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.intro__title {
  grid-column: 1 / 2;

  margin: 0;
  margin-bottom: 10px;
  margin-top: 89px;
  font-size: 48px;
  line-height: 1.35;
  font-weight: 700;
  color: $color-text;
  max-width: 490px;

  & > span {
    color: $color-accent-secondary;
  }

  @include vp-1023 {
    order: -2;
    grid-area: auto;
    text-align: center;
    max-width: 900px;
    margin-bottom: 0;
    margin-top: 0;
  }

  @include vp-767 {
    font-size: 34px;
    max-width: 640px;
    margin: 0 auto;
  }
}

.intro__description {
  grid-column: 1 / 2;

  margin: 0;
  margin-bottom: 29px;
  font-size: 15px;
  line-height: 1.73;
  font-weight: 500;
  color: $color-text-quaternary;
  max-width: 490px;

  @include vp-1023 {
    grid-area: auto;
    max-width: initial;
  }
}

.intro__button {
  grid-column: 1 / 2;
  justify-self: start;

  font-size: 15px;
  padding: 14.5px 22px;
  border-radius: 25px;
  margin-bottom: 50px;

  @include vp-1023 {
    margin-bottom: 40px;
  }
}

.intro__search {
  grid-column: 1 / 2;
  margin-bottom: 35px;
}

.intro__user-wrapper {
  grid-column: 1 / 2;
  align-self: start;

  display: flex;
  align-items: center;
  padding-bottom: 30px;

  @include vp-1023 {
    padding-bottom: 0;
  }
}

.intro__user-list {
  margin: 0;
  margin-right: 13px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}

.intro__user-item {
  border-radius: 50%;
  overflow: hidden;
  transform: translateZ(0);
  width: 38px;
  height: 38px;
  border: 3px solid $color-default-white;
  background-color: $color-accent-secondary;

  &--plus {
    background-color: $color-accent-secondary;
    background-image: url("../img/svg/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
  }

  &:not(:first-child) {
    margin-right: -17.5px;
  }
}

.intro__user-description {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: $color-text-quinary;
}

.intro__user-link {
  font-weight: 500;
  color: #fd905a;

  @include hover {
    opacity: 0.8;
  }

  @include focus {
    opacity: 0.8;
    outline: 1px solid $color-accent;
    border-radius: 5px;
  }
}

.intro__wheel-wrapper {
  grid-column: 2 / 3;
  grid-row: 1 / 6;

  display: flex;
  justify-content: end;

  overflow-y: clip;
  padding-top: 54px;
  padding-bottom: 151px;

  @include vp-1023 {
    grid-area: auto;
    order: -1;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 30px;
  }
}

.intro__wheel {
  transform: translateX(10px);

  @include vp-1023 {
    transform: translateX(0);
  }
}
