.wheel {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: $color-accent;
    top: 117px;
    left: 51%;
    transform: translate(-50%, 0);

    @include vp-767 {
      width: 173px;
      height: 173px;
      top: 20%;
    }
  }
}

.wheel__wrapper {
  width: 450px;
  height: 450px;
  border: 2px solid $color-background-tertiary;
  border-radius: 50%;
  position: relative;

  animation-name: spin;
  animation-duration: $animation-duration;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: $animation-delay;

  @include vp-767 {
    width: 250px;
    height: 250px;
  }
}

.wheel__image-wrapper {
  position: absolute;
  z-index: 100;
  top: 44px;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 300px;

  @include vp-767 {
    min-width: 180px;
  }
}

.wheel__inner {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 0;
  transform-origin: 0% 100%;
  // outline: 2px dashed gold;
  padding-bottom: 225px;

  @include vp-767 {
    padding-bottom: 128px;
  }

  &:nth-child(1) {
    transform: rotate(-103deg);

    .wheel__content {
      animation-delay: $animation-delay-secondary;
    }
  }

  &:nth-child(2) {
    transform: rotate(-61deg);

    .wheel__content {
      animation-delay: calc($animation-delay-secondary + $animation-delay-gap);
    }
  }

  &:nth-child(3) {
    transform: rotate(5deg);

    .wheel__content {
      animation-delay: calc($animation-delay-secondary + $animation-delay-gap * 2);
    }
  }

  &:nth-child(4) {
    transform: rotate(62deg);

    .wheel__content {
      animation-delay: calc($animation-delay-secondary + $animation-delay-gap * 3);
    }
  }

  &:nth-child(5) {
    transform: rotate(102deg);

    .wheel__content {
      animation-delay: calc($animation-delay-secondary + $animation-delay-gap * 4);
    }
  }
}

.wheel__content {
  width: 60px;
  height: 60px;

  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 185px);

  animation-name: move-to-orbite;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

  @include vp-767 {
    transform: translate(-50%, 105px);
    width: 45px;
    height: 45px;
  }

  &:nth-child(2) {
    // mb dell
    width: 120px;
  }

  &--small {
    width: 50px;
    height: 50px;

    @include vp-767 {
      width: 35px;
      height: 35px;
    }
  }

  &--big {
    width: 70px;
    height: 70px;

    @include vp-767 {
      width: 55px;
      height: 55px;
    }
  }

  &--large {
    width: 80px;
    height: 80px;

    @include vp-767 {
      width: 65px;
      height: 65px;
    }
  }
}

.wheel__img {
  width: 100%;
  height: 100%;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border: 10px solid $color-default-white;
    border-radius: 50%;
    background-color: $color-accent-secondary;
    background-image: url("../img/index/italy.png");
    // stylelint-disable-next-line
    background-image: image-set(
      url("../img/index/italy@2x.webp") 2x type("image/webp"),
      url("../img/index/italy.webp") 1x type("image/webp"),
      url("../img/index/italy@2x.png") 2x type("image/png"),
      url("../img/index/italy.png") 1x type("image/png")
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    animation-name: spin-reverse;
    animation-duration: $animation-duration;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: $animation-delay;

    @include vp-767 {
      border: 5px solid $color-default-white;
    }
  }

  &--india {
    &::after {
      background-image: url("../img/index/india.png");
      // stylelint-disable-next-line
      background-image: image-set(
      url("../img/index/india@2x.webp") 2x type("image/webp"),
      url("../img/index/india.webp") 1x type("image/webp"),
      url("../img/index/india@2x.png") 2x type("image/png"),
      url("../img/index/india.png") 1x type("image/png")
    );
    }
  }

  &--uk {
    &::after {
      background-image: url("../img/index/uk.png");
      // stylelint-disable-next-line
      background-image: image-set(
      url("../img/index/uk@2x.webp") 2x type("image/webp"),
      url("../img/index/uk.webp") 1x type("image/webp"),
      url("../img/index/uk@2x.png") 2x type("image/png"),
      url("../img/index/uk.png") 1x type("image/png")
    );
    }
  }
}
