// Colors
// ---------------------------------
$color-accent:                      #48b774;
$color-accent-secondary:            #ff8345;
$color-text:                        #2d2d2d;
$color-text-secondary:              #a1a1a1;
$color-text-tertiary:               #4a4a4a;
$color-text-quaternary:             #7c7c7c;
$color-text-quinary:                #707070;
$color-background:                  #ecf7f3;
$color-background-secondary:        #838383;
$color-background-tertiary:         #e8e8e8;

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette

$color-neon-blue:                   #2c39f2;
$color-torch-red:                   #ff1553;

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------
$fz-default:                        16px;

$ff-rouble:                         "Rouble", "Arial", sans-serif;
$ff-roboto:                         "Roboto", "Arial", sans-serif;
$ff-poppins:                        "Poppins", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;
$animation-duration:                60s;
$animation-delay:                   6.5s;
$animation-delay-secondary:         3s;
$animation-delay-gap:               0.4s;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;

// Keyframes

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes move-to-orbite {
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-5px);
  }

  20% {
    transform: translateX(5px);
  }

  30% {
    transform: translateX(-5px);
  }

  40% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  60% {
    transform: translateX(5px);
  }

  70% {
    transform: translateX(-5px);
  }

  80% {
    transform: translateX(5px);
  }

  90% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}
